#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game {
  display: flex;
  place-items: center;
}

.board {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .1em;
}

.square {
  min-height: 4em;
  min-width: 4em;
}
